@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import 'bootstrap/scss/bootstrap';

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almostWhite);
    height: 100vh;
}