@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import 'bootstrap/scss/bootstrap';

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almostWhite);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
header{
    h1{
        font-weight: 700;
        font-size: 2rem;
    }
    i{
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: -10px;
        cursor: pointer;
    }
    ul{
        list-style: none;
    }
    li{
        color: hsl(0, 0%, 41%);
        font-size: 18px;
        transition: color 0.3s;
        &:hover{
            color: black;
            cursor: pointer;
        }
        span, img{
            cursor:pointer;
        }
    }
    .sign a{
        &:hover{
            color: black;
        }
    }
    .nav-left, .nav-right{
        display: none;
    }
}